## 15th may task

In [ ]:

s = "this is My First Python programming class and i am learNING python string and its function"
1 . Try to extract data from index one to index 300 with a jump of 3 
2. Try to reverse a string without using reverse function 
3. Try to split a string after conversion of entire string in uppercase 
4. try to convert the whole string into lower case 
5 . Try to capitalize the whole string 
6 . Write a diference between isalnum() and isalpha()
7. Try to give an example of expand tab
8 . Give an example of strip , lstrip and rstrip 
9.  Replace a string charecter by another charector by taking your own example 
"sudhanshu"
10 . Try  to give a defination of string center function with and exmple 
11 . Write your own definition of compiler and interpretor without copy paste form internet in your own language
12 . Python is a interpreted of compiled language give a clear ans with your understanding 
13 . Try to write a usecase of python with your understanding .

In [4]:
s = "this is My First Python programming class and i am learNING python string and its function"

## Q1. Try to extract data from index one to index 300 with a jump of 3

In [5]:
print(s[1:300:3])

h   r tnrrmglsnimeNGyosi dtfco

## Q2. Try to reverse a string without using reverse function

In [7]:
s[::-1]

'noitcnuf sti dna gnirts nohtyp GNINrael ma i dna ssalc gnimmargorp nohtyP tsriF yM si siht'

## Q3. Try to split a string after conversion of entire string in uppercase

In [8]:
s.upper()

'THIS IS MY FIRST PYTHON PROGRAMMING CLASS AND I AM LEARNING PYTHON STRING AND ITS FUNCTION'

In [10]:
print(s.split())

['this', 'is', 'My', 'First', 'Python', 'programming', 'class', 'and', 'i', 'am', 'learNING', 'python', 'string', 'and', 'its', 'function']

## Q4. try to convert the whole string into lower case

In [11]:
s.lower()

'this is my first python programming class and i am learning python string and its function'

## Q5. Try to capitalize the whole string

In [12]:
s.capitalize()

'This is my first python programming class and i am learning python string and its function'

## Q6. Write a diference between isalnum() and isalpha()

In [ ]:
isalnum() method returns true if all characters of a string are either alphabets (between ‘A’ to ‘Z’ and between ‘a’ to ‘z’) or numbers (0 to 9) or both, otherwise method returns false.

isalpha() method returns true if all characters of a string are only alphabets (between ‘A’ to ‘Z’ and between ‘a’ to ‘z’). If there is any non alphabet character in the string, method returns false.
print s.isalpha()

## Q7. Try to give an example of expand tab

In [14]:
s="Lipa\tKumari"
s.expandtabs()

'Lipa    Kumari'

## Q8 . Give an example of strip , lstrip and rstrip

In [21]:
s="        my name is Lipa"
s.strip()

'my name is Lipa'

In [22]:
s.lstrip()

'my name is Lipa'

In [23]:
s.rstrip()

'        my name is Lipa'

## Q9.  Replace a string charecter by another charector by taking your own example

In [25]:
s="Anulipsa Sruti"
s.replace("Anulipsa","Sruti")

'Sruti Sruti'

## Q10 . Try  to give a defination of string center function with and exmple

In [29]:
The method center() returns centered in a string of length width. Padding is done using the specified fillchar. Default filler is a space.
str.center(width[, fillchar])

SyntaxError: invalid syntax (Temp/ipykernel_13848/1644136973.py, line 1)

In [32]:
s="Anulipsa"
s.center(20,'#')

'######Anulipsa######'

## Q11 . Write your own definition of compiler and interpretor without copy paste form internet in your own language

In [ ]:
1.compiler scans the entire program and translates whole of it into machine code.
2.compiler translates the complete progam in a single run.
3.interpreter translates one statement at a time into machine  code.
4.interpreter translates the source program line by line.

## Q12 . Python is a interpreted of compiled language give a clear ans with your understanding

In [ ]:
1.python as a language is not interpreted or compiled.
interpreted or compiled is the property of the implementation.
python is a bytecode.
2.it works in two layer , first the .py file is compiled to an intermediate code of .pyc then .pyc file is directly interpreted as for final output.
3.first it compiles after it try to interpreted.

source code-
        compiler----bytecode----interpreter----machinecode

## Q13 . Try to write a usecase of python with your understanding

In [ ]:
use cases of python:
    Data Science,
    Artificial Intelligence
    Game development
    Internet of Things
    Web Scraping
    Desktop GUI

In [ ]:
#20th may#

l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]
1 . Try to reverse a list 
2. try to access 234 out of this list 
3 . try to access 456 
4 . Try to extract only a list collection form list l 
5 . Try to extract "sudh"
6 . Try to list all the key in dict element avaible in list 
7 . Try to extract all the value element form dict available in list

In [34]:
l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]

## Q1 . Try to reverse a list

In [35]:
l[::-1]

[{'key1': 'sudh', 234: [23, 45, 656]},
 (234, 6657, 6),
 [345, 56, 87, 8, 98, 9],
 [23, 456, 67, 8, 78, 78],
 7,
 6,
 5,
 4,
 3]

In [43]:
l.reverse()

In [44]:
l

[3,
 4,
 5,
 6,
 7,
 [23, 456, 67, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6657, 6),
 {'key1': 'sudh', 234: [23, 45, 656]}]

## Q2. try to access 234 out of this list

In [46]:
l[7][0]

234

In [49]:
list(l[8].keys())[1]

234

## Q3 . try to access 456

In [52]:
l[5][1]

456

## Q4 . Try to extract only a list collection form list l

In [55]:
l[5:7]

[[23, 456, 67, 8, 78, 78], [345, 56, 87, 8, 98, 9]]

## Q5 . Try to extract "sudh"

In [57]:
l[8]['key1']

'sudh'

## Q6. Try to list all the key in dict element avaible in list

In [60]:
list(l[8].keys())

['key1', 234]

## Q7 . Try to extract all the value element form dict available in list

In [61]:
list(l[8].values())

['sudh', [23, 45, 656]]