In [ ]:
q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

q2 - 

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

q3 : Try to extract all the list entity 
q4 : Try to extract all the dict enteties
q5 : Try to extract all the tuples entities
q6 : Try to extract all the numerical data it may b a part of dict key and values 
q7 : Try to give summation of all the numeric data 
q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
q9 : Try to extract "ineruon" out of this data
q10 : Try to find out a number of occurances of all the data 
q11 : Try to find out number of keys in dict element
q12 : Try to filter out all the string data 
q13 : Try to Find  out alphanum in data
q14 : Try to find out multiplication of all numeric value in the individual collection inside dataset

## Q1

In [2]:
row = int(input("Please enter how many rows you want to print: "))
print()
for i in range(row):
    print("ineuron "*(i+1))

Please enter how many rows you want to print: 4

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

## Q2

In [3]:
for i in range(6):
    if i <= 3:
        n = i
    else:
        n = 6 - i
    print(("ineuron "*n).center(30,' '))

           ineuron
       ineuron ineuron
   ineuron ineuron ineuron
       ineuron ineuron
           ineuron

In [7]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

## Q3. Try to extract all the list entity

In [10]:
for i in l:
    if type(i) ==list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

## Q4. Try to extract all the dict enteties

In [11]:
for i in l:
    if type(i)==dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

## Q5. Try to extract all the tuples entities

In [12]:
for i in l:
    if type(i)==tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

## Q6.Try to extract all the numerical data it may b a part of dict key and values

In [76]:
l1 = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set :
        for j in i :
            if type(j) == int :
                l1.append(j)
    if type(i) == dict :
        for k in i.items() : 
            for g in k :
                if type(g) == int :
                    l1.append(g)

In [77]:
l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

## Q7. Try to give summation of all the numeric data

In [58]:
l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [59]:
sum(l1)

156

## Q8. Try to filter out all the odd values out all numeric data which is a part of a list

In [25]:
l2=[]
for i in l1:
    if i % 2==0:
        pass
    else:
        print(i)

1
3
3
5
3
5
7
45
5
23
3
7

## Q9. Try to extract "ineruon" out of this data

In [26]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [64]:
l3=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if j =='ineuron':
                l3.append(j)
    if type(i) == dict :
        for k in i.items() : 
            for g in k :
                if g == 'ineuron' :
                    l3.append(g)

In [65]:
l3

['ineuron', 'ineuron']

## Q10.Try to find out a number of occurances of all the data

In [66]:
l4 = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set :
        for j in i :
            if type(j) == int or str :
                l4.append(j)
    if type(i) == dict :
        for k in i.items() : 
            for g in k :
                if type(g) == int or str :
                    l4.append(g)

In [67]:
l4

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science ']

## Q11.Try to find out number of keys in dict element

 ## Q12.Try to filter out all the string data

In [73]:
for i in l4 :
    if type(i) == str:
        print(i)

k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

## Q13. Try to Find  out alphanum in data

In [52]:
for i in l1 :
    if type(i) == str :
        if i.isalnum() : 
            print(i)

k1
sudh
k2
ineuron
k3
kumar
ineuron

## Q14.Try to find out multiplication of all numeric value in the individual collection inside dataset

In [79]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [109]:
for i in l:
    m=1
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==int:
                m=m*j
    if type(i)==dict:
        for k,v in i.items():
            if type(k)==int and type(v)==int:
                m=m*k*v
    print(type(i),m)

<class 'list'> 24
<class 'tuple'> 720
<class 'tuple'> 2520
<class 'set'> 20700
<class 'dict'> 1008
<class 'list'> 1