In [1]:
l = [1,2,3,4,"sudh" ,"kumar" , 45.56]

In [2]:
for i in l :
    print(i)

1
2
3
4
sudh
kumar
45.56

In [3]:
for i in l :
    pass

In [4]:
s = "sudh"
for i in s :
    print(i)

s
u
d
h

In [5]:
for i in l :
    print(i)
else :
    print("if for loop is going to complete itself the it will execute else ")

1
2
3
4
sudh
kumar
45.56
if for loop is going to complete itself the it will execute else

In [6]:
l

[1, 2, 3, 4, 'sudh', 'kumar', 45.56]

In [7]:
for i in l :
    if i == 4 :
        break
    print(i)
else :
    print("this will execute only if for is going to complete itself")

1
2
3

In [8]:
s = "sudhanshu"
for i in s :
    if i == 'z' :
        break
    print(i)
else :
    print("print srtring " , s )

s
u
d
h
a
n
s
h
u
print srtring  sudhanshu

In [9]:
t = (4,5,6,7,8,6,"sudh")
for i in t :
    print(i)

4
5
6
7
8
6
sudh

In [10]:
b = {4,5,6,7,7,7,7,7,7,7,7, 8,"sudh"}

In [11]:
type(b)

set

In [12]:
b

{4, 5, 6, 7, 8, 'sudh'}

In [13]:
for i in b :
    print(i)

sudh
4
5
6
7
8

In [14]:
d = {'key1' :"sudh" , 'contact' : "sudhanshu@ineuron.ai" , "position" : "xyz"}

In [15]:
for i in d :
    print(i ,":" ,  d[i] )

key1 : sudh
contact : sudhanshu@ineuron.ai
position : xyz

In [16]:
d['key1']

'sudh'

In [17]:
range(9)

range(0, 9)

In [18]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [19]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [20]:
list(range(0,9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [21]:
list(range(0,9 , 2))

[0, 2, 4, 6, 8]

In [22]:
list(range(0,9 , -1))

[]

In [23]:
list(range(9,0 , -1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [24]:
n = 4 
for i in range(4) :
    for j in range(0 ,i+1) : 
        print("sudh" , end = "     ")
    print("\n")

sudh

sudh     sudh

sudh     sudh     sudh

sudh     sudh     sudh     sudh

In [27]:
n = 4 
for i in range(4) :
    for j in range(0 ,i+1) : 
        print("sudh" , end = " ")
    print("\n")

sudh

sudh sudh

sudh sudh sudh

sudh sudh sudh sudh

In [28]:
n=3
for i in range(n):
    for j in range(i,n-1):
        print(" " * len("sudh"),end=" ")
    for j in range(i+1):
        print("sudh",end=" ")
    for j in range(i): 
        print("sudh",end=" ")
    print()

          sudh
     sudh sudh sudh
sudh sudh sudh sudh sudh

In [29]:
n=4
k=n
for i in range(n):
    k=k-1
    print('  '*k, end='')
    for j in range(i+1):
        print('sudh ', end= '')
    print()

      sudh
    sudh sudh
  sudh sudh sudh
sudh sudh sudh sudh

In [30]:
n=3
for i in range(n):
    for j in range(i,n-1):
        print("",end=' ')
    for j in range(i+1):
        print("sudh",end=' ')
    print()

  sudh
 sudh sudh
sudh sudh sudh

In [31]:
n = 3

for i in range(n+1):
    print(' '*(n-i) + 'sudh '*i)

  sudh
 sudh sudh
sudh sudh sudh

In [32]:
list(range(0))

[]

In [33]:
t = (3,23,45,67,2,4,5,6)

In [34]:
t[0]

3

In [35]:
for i in range(len(t)):
    print(i,t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [37]:
list(range(len(t)))

[0, 1, 2, 3, 4, 5, 6, 7]

In [38]:
t = (3,23,45,67,2,4,5,6)

for i in range(len(t)):
    print(i,t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [39]:
s = "ineuron"
for i in range(len(s)) : 
    print(i , s[i])

0 i
1 n
2 e
3 u
4 r
5 o
6 n

In [40]:
s

'ineuron'

In [41]:
for i in range(len(s)-1 , -1, -1):
    print(i , s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [42]:
d

{'key1': 'sudh', 'contact': 'sudhanshu@ineuron.ai', 'position': 'xyz'}

In [43]:
for i in d.items():
    print(i , type(i) , type(i[1]))

('key1', 'sudh') <class 'tuple'> <class 'str'>
('contact', 'sudhanshu@ineuron.ai') <class 'tuple'> <class 'str'>
('position', 'xyz') <class 'tuple'> <class 'str'>

In [44]:
l = ["sudh" , "kuamr" , 3234545 , "sudhanshu@ineuron.ai" , 345, 34345353]
l1 = []
for i in l :
    if type(i) == int :
        l1.append(i)

In [45]:
l1

[3234545, 345, 34345353]

In [46]:
 d = {1: 3345345  , "name" : "sudh" , "email_id" : "sudhanshu@ineuron.ai" , 234 : "fsfddsf" , "43" : "sfsaf" , 234 : "3454"}

In [47]:
for i in d :
    if type(i) == int :
        print(i , ":"  , d[i])

1 : 3345345
234 : 3454

In [48]:
s = "aaaabbccd"

In [49]:
for i in set(s):
    print(i  , ":" , s.count(i))

c : 2
a : 4
d : 1
b : 2

In [50]:
s.count('a')

4

In [51]:
i = 34534654646435
for j in str(i) :
    print(int(j ), type(int(j)))

3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
3 <class 'int'>
4 <class 'int'>
6 <class 'int'>
5 <class 'int'>
4 <class 'int'>
6 <class 'int'>
4 <class 'int'>
6 <class 'int'>
4 <class 'int'>
3 <class 'int'>
5 <class 'int'>

In [52]:
str(i)

'34534654646435'

In [53]:
t = ("sudh" , "kumar" ,[1,2,3,4,5] , (3,4,5,6) , {3:3 , "key2" :"kumar"})

In [54]:
t=("sudh","kumar",[1,3,5,7,4],(3,5,88,4),{3:3,3:"kjshdf","key1":"sudh","key2":"kumar"})

In [55]:
for i in t :
    if type(i) == list or type(i) == tuple :
        for j in i :
            if j == 3 :
                print(j)
    if type(i) == dict :
        for k,v  in i.items():
            if k == 3 or v == 3 :
                print(k)
                print(v)

3
3
3
kjshdf

In [56]:
d = {4:5 , "key1" : "sudh" , "key2" : "kumar"}

In [57]:
d.items()

dict_items([(4, 5), ('key1', 'sudh'), ('key2', 'kumar')])

In [58]:
for i in d.items():
    print(i)

(4, 5)
('key1', 'sudh')
('key2', 'kumar')

In [59]:
d.items()

dict_items([(4, 5), ('key1', 'sudh'), ('key2', 'kumar')])

In [60]:
a = 10 
b = 20
c = 30

In [61]:
a , b , c = 10 , 20 , 30

In [62]:
a,b,c = (10,20,30)

## QUESTION

In [ ]:
q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

q2 - 

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

q3 : Try to extract all the list entity 
q4 : Try to extract all the dict enteties
q5 : Try to extract all the tuples entities
q6 : Try to extract all the numerical data it may b a part of dict key and values 
q7 : Try to give summation of all the numeric data 
q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
q9 : Try to extract "ineruon" out of this data
q10 :Try to find out a number of occurances of all the data 
q11 : Try to find out number of keys in dict element
q12 : Try to filter out all the string data 
q13 : Try to Find  out alphanum in data
q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset 
q15 : Try to unwrape all the collection inside collection and create a flat list 
    
    
before 29th may 2022 3 PM IST you have to send an answer to me or to shivan 
sudhanshu@ineuron.ai
shivan@ineuron.ai